extends layout

block content
	.inner
		.ui.card
			.image
				img(src="https://source.unsplash.com/daily/150x150")
			.content
				a.header Kristy
				.meta
					span.date Joined in 2013
				.description
					h5 Kristy is an art director living in New York.
			.extra.content
				a
					i.user.icon
					p 22 Friends

  	
